* {
	box-sizing: border-box;
}

html {
	height: 100%;
    width: 100%;
    
    display: table;
    
    font-family: sans-serif;
}

body {
	height: 100%;
    width: 100%;
    
    display: table-cell;
    
    margin: 0;
    
    position: relative;
}

header {
	height: 80px;
	width: 100%;
	
	background-color: black;
	color: white;
	
	display: flex;
	justify-content: space-around;
	align-items: center;
}

nav a {
	width: 45%;
	color: white;
	font-weight: bold;
}

footer {
	height: 80px;
	width: 100%;
	
	background-color: #EFECEC;
	color: black;
	
	margin-top: 50px;
	
	position: absolute;
	bottom: 0;
	
	display: flex;
	justify-content: center;
	align-items: center;
}

.center-form {
	height: 580px;
  	width: 100%;
  	
  	margin-top: 50px;
  	padding-bottom: 130px;
  	
 	display: flex;
	flex-direction: column;
	align-items: center;
}

@media only screen and (max-width: 740px) {
	.center-form form {
 		height: 100%;
  		width: 95%;
  		flex-shrink: 0;
 		
 		font-size: 2rem;
  	
  		box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
  		border-radius: 5px;
  	
  		display: flex;
  		flex-direction: column;
  		justify-content: space-around;
  		align-items: center;
  	}
}

@media only screen and (min-width: 740px) {
	.center-form form {
 		height: 100%;
  		width: 350px;
  		flex-shrink: 0;
  	
  		font-size: 2rem;
  	
  		box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
  		border-radius: 5px;
  	
  		display: flex;
  		flex-direction: column;
  		justify-content: space-around;
  		align-items: center;
	}
}

.form-row {
  	height: 12%;
	width: 80%;
}

.form-row input {
  	height: 100%;
  	width: 100%;
  	
    background-color: black;
    
    font-size: 1rem;
  	text-indent: 15px;
  	color: white;
    
 	border: 0;
  	border-radius: 5px;
}

::placeholder {
	color: darkgrey;
}

input:focus {
	outline: none;
	opacity: 0.7;
}

.login-button {
  	height: 100%;
	width: 100%;
	
  	background-color: darkgreen;
  	color: white;
  
  	border: 0;
  	border-radius: 5px;
  
  	cursor: pointer;
  
  	font-size: 1rem; 
  	font-weight: bold;
}

.index-section {
	height: 1030px;
	width: 100%;
	
	margin-top: 50px;
	padding-bottom: 130px;
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.index-section a {
	height: 30%;
	width: 70%;
	text-decoration: none;
}

.index-section a:hover {
	opacity: 0.7;
}

.index-row-buffets {
	height: 100%;
	width: 100%;
	
	border-radius: 20px;
	
	background-image: url(/images/buffet.jpg);
	background-size: cover;
	
	display: flex;
	align-items: flex-end;
}

.index-row-chefs {
	height: 100%;
	width: 100%;
	
	border-radius: 20px;
	
	background-image: url(/images/chefs.jpg);
	background-size: cover;
	
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

.index-row-piatti {
	height: 100%;
	width: 100%;
	
	border-radius: 20px;
	
	background-image: url(/images/piatti.jpg);
	background-size: cover;
	
	display: flex;
	align-items: flex-end;
}

.index-row-title {
	font-size: 3rem;
	font-weight: bold;
	
	background-color: darkgreen;
	color: white;
	
	margin: 20px;
}

.admin-index-section {
	height: 300px;
	width: 100%;
	
	margin-top: 150px;
	padding-bottom: 130px;
	
	display: flex;
	justify-content: center;
}

.admin-index-section-row {
	height: 100%;
	width: 70%;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.admin-index-section-item {
	height: 100%;
	width: 23%;
	
	background-color: whitesmoke;
	
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
  	border-radius: 5px;
	
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	
	text-decoration: none;
}

.admin-index-section-item:hover {
	opacity: 0.7;
}

.admin-index-section-item-icon {
	max-height: 45%;
}

.admin-index-section-item-title {
	font-size: 2rem;
	font-weight: bold;
	
	color: darkgreen;
}

.table-section {
	width: 100%;
	
	padding-bottom: 130px;
	margin-top: 50px;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.add-item {
	height: 50px;
	width: 170px;
	
	text-decoration: none;
}

.add-item button {
	height: 100%;
	width: 100%;
	border: 0;
	border-radius: 5px;
	background-color: darkgreen;
	color: white;
	font-size: 1rem;
	font-weight: bold;
	cursor: pointer;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

@media only screen and (max-width: 900px) {
	.table-section table {
		width: 95%;
	
		margin-top: 50px;
	
		border-collapse: collapse;
	}
}

@media only screen and (min-width: 900px) {
	.table-section table {
		width: 60%;
	
		margin-top: 50px;
	
		border-collapse: collapse;
	}
}

.table-section table tr:nth-child(even) {
	background-color: #f2f2f2;
}

.table-section table th {
	height: 50px;

	font-size: 1.2rem;
	
	background-color: darkgreen;
	color: white;
}

.table-section table td {
	height: 50px;
	max-width: 200px;
	
	font-size: 1.1rem;
	
	text-align: center;
}

.table-section table td a {
	height: 100%;
	width: 100%;
	
	text-decoration: none;
}

.table-section table td a button {
	height: 35px;
	border: 0;
	border-radius: 5px;
	color: white;
	font-size: 1rem;
	font-weight: bold;
	cursor: pointer;
}

.button-edit {
	background-color: navy;
}

.button-remove {
	background-color: maroon;
}

.admin-form-section {
	width: 100%;

  	margin-top: 50px;
  	padding-bottom: 130px;
  	
 	display: flex;
	justify-content: center;
}

@media only screen and (max-width: 900px) {
	.admin-form-section form {
		height: 100%;
		width: 95%;
  	
  		background-color: whitesmoke;
  		box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
  		border-radius: 5px;
  	
  		display: flex;
  		flex-direction: column;
  		justify-content: space-around;
  		align-items: center;
	}
}

@media only screen and (min-width: 900px) {
	.admin-form-section form {
		height: 100%;
		width: 40%;
  	
  		background-color: whitesmoke;
  		box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
	  	border-radius: 5px;
  	
  		display: flex;
  		flex-direction: column;
  		justify-content: space-around;
  		align-items: center;
	}
}

.admin-form-row-title {
	font-size: 1.2rem;
	font-weight: bold;
}

.admin-form-row {
	width: 90%;
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
}

.admin-form-row-top {
	width: 100%;
	
	display: flex;
	align-items: center;
}

.admin-form-row-bottom {
	width: 100%;
}

.admin-form-section input {
	height: 70%;
	min-width: 0px;
	
	margin-left: 20px;
	border: 0;
	border-radius: 5px;
	background-color: darkgreen;
	
	font-size: 1rem;
  	text-indent: 10px;
  	color: white;
  	flex-grow: 1;
}

.admin-form-section textarea {
	height: 100%;
	
	margin-left: 20px;
	padding: 10px;
	border: 0;
	border-radius: 5px;
	
	background-color: darkgreen;
	color: white;
	font-family: sans-serif;
	font-size: 1rem;
  	flex-grow: 1;
}

textarea:focus {
	outline: none;
	opacity: 0.7;
}

.admin-form-section select {
	height: 70%;
	
	margin-left: 20px;
	border: 0;
	border-radius: 5px;
	background-color: darkgreen;
	
	font-size: 1rem;
  	text-indent: 10px;
  	color: white;
  	flex-grow: 1;
}

select:focus {
	outline: none;
	opacity: 0.7;
}

.admin-form-section fieldset {
	height: 100%;
	
	margin-left: 20px;
	border: 0;
	border-radius: 5px;
	background-color: darkgreen;
	
	font-size: 1rem;
  	color: white;
  	flex-grow: 1;
  	overflow-y: scroll;
}

.admin-form-row-buttons {
	width: 100%;
	
	display: flex;
	justify-content: center;
	align-items: center;
}

.admin-form-row-buttons button {
	height: 35px;
	width: 100px;
	margin: 0 10px;
	border: 0;
	border-radius: 5px;
	color: white;
	font-size: 1rem;
	font-weight: bold;
	cursor: pointer;
}

.list-section {
	width: 100%;
	
	padding-bottom: 130px;
	margin-top: 50px;
	
	display: flex;
	flex-direction: column;
	align-items: center;
}

.list-item-container {
	width: 100%;
	
	display: flex;
	justify-content: center;
}

@media only screen and (max-width: 900px) {
	.list-item {
		height: 300px;
		width: 95%;
	
		border-width: 2px 0px 0px 0px;
		border-style: solid;
		border-color: lightgrey;
	
		display: flex;
		justify-content: center;
		justify-content: space-between;
		align-items: center;
	
		text-decoration: none;
	}
}

@media only screen and (min-width: 900px) {
	.list-item {
		height: 300px;
		width: 60%;
	
		border-width: 2px 0px 0px 0px;
		border-style: solid;
		border-color: lightgrey;
	
		display: flex;
		justify-content: center;
		justify-content: space-between;
		align-items: center;
	
		text-decoration: none;
	}
}

.list-item:hover {
	opacity: 0.7;
}

.list-item-image {
	height: 90%;
	width: 45%;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.list-item-image img {
	max-height: 100%;
	max-width: 100%;
}

.list-item-details {
	height: 90%;
	width: 45%;
	
	color: black;
	
	font-size: 1.1rem;
	
	display: flex;
	flex-direction: column;
}

.list-item-details-row {
	margin-bottom: 10px;
	display: flex;
	overflow-y: hidden;
}

.list-item-name {
	font-size: 1.8rem;
	font-weight: bold;
}

.list-item-details-title {
	font-weight: bold;
	color: darkgreen;
}