<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='Login')"> </head>
<body>
	<header><h1>Siw Catering</h1></header>
	<h3 style="color:red; text-align:center; margin-top: 50px;">Username e/o password non validi</h3>
	<section class="center-form">
		<form th:action="@{/login}" method="POST">
			<div class="form-row">Accedi</div>
			<div class="form-row">
            	<input name="username" type="text" placeholder="username" required/>
          	</div>
					
			<div class="form-row">
				<input name="password" type="password" placeholder="password" required/>
          	</div>
			<div class="form-row">
				<button class="login-button" type="submit">Accedi</button>
          	</div>
		</form>
	</section>
	<footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>