<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='Buffet details')"> </head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<section class="complete-item-section">
		<div class="complete-item-name" th:text="${buffet.nome}">Nome buffet</div>
		<div class="complete-item-image">
			<img th:src="@{'/foto/buffet/' + ${buffet.id}}" alt="errore caricamento immagine :(">
		</div>
		<div class="complete-item-details">
			<div th:if="${not #strings.isEmpty(buffet.descrizione)}">
				<span class="complete-item-descriptor">Descrizione:</span>
				<span th:text="${buffet.descrizione}">Descrizione</span>
			</div>
			<div>
				<span class="complete-item-descriptor">Chef:</span>
				<span th:text="${buffet.chef.nome} + ' ' + ${buffet.chef.cognome}">Mario Rossi</span>
			</div>
			<div>
				<div class="complete-item-descriptor">Piatti:</div>
				<div th:each="piatto : ${buffet.piatti}" th:text="'- ' + ${piatto.nome}"></div>	
			</div>
		</div>
	</section>
	<footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>