<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='Buffet')"> </head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<h1 style="margin-top: 50px; text-align: center; color: darkgreen;">Buffet</h1>
	<section class="list-section">
		<div th:if="${#lists.isEmpty(buffets)}">
			<h1>Nessun buffet presente</h1>
		</div>
		<div style="width: 100%;" th:unless="${#lists.isEmpty(buffets)}">	
			<div class="list-item-container" th:each="buffet : ${buffets}">
				<a class="list-item" th:href="@{'/buffets/' + ${buffet.id}}">
					<div class="list-item-image">
						<img th:src="@{'/foto/buffet/' + ${buffet.id}}" alt="Errore caricamento immagine :(">
					</div>
					<div class="list-item-details">
						<div style="max-height: 20%; margin-bottom: 30px;" class="list-item-details-row">
							<div class="list-item-name" th:text="${buffet.nome}">Nome</div>
						</div>
						<div style="max-height: 50%;" th:if="${not #strings.isEmpty(buffet.descrizione)}" class="list-item-details-row">
							<div class="list-item-details-title">Descrizione:</div>
							<div style="margin-left: 5px;" th:text="${buffet.descrizione}">Descrizione</div>
						</div>
						<div style="max-height: 20%;" class="list-item-details-row">
							<div class="list-item-details-title">Chef:</div>
							<div th:if="${buffet.chef}" style="margin-left: 5px;" th:text="${buffet.chef.nome} + ' ' + ${buffet.chef.cognome}">Chef</div>
							<div th:unless="${buffet.chef}" style="margin-left: 5px;">DA DEFINIRE</div>
						</div>
					</div>
				</a>
			</div>
		</div>
	</section>
	<footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>