<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='Chef')"> </head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<h1 style="margin-top: 50px; text-align: center; color: darkgreen;">Chef</h1>
	<section class="list-section">
		<div th:if="${#lists.isEmpty(chefs)}">
			<h1>Nessuno chef presente</h1>
		</div>
		<div style="width: 100%;" th:unless="${#lists.isEmpty(chefs)}">	
			<div class="list-item-container" th:each="chef : ${chefs}">
				<a class="list-item" th:href="@{'/chefs/' + ${chef.id}}">
					<div class="list-item-image">
						<img th:src="@{'/foto/chef/' + ${chef.id}}" alt="Errore caricamento immagine :(">
					</div>
					<div class="list-item-details">
						<div style="max-height: 45%; margin-bottom: 30px;" class="list-item-details-row">
							<div class="list-item-name" th:text="${chef.nome} + ' ' + ${chef.cognome}">Nome</div>
						</div>
						<div style="max-height: 45%;" th:if="${chef.nazionalita}" class="list-item-details-row">
							<div class="list-item-details-title">Nazionalità:</div>
							<div style="margin-left: 5px;" th:text="${chef.nazionalita}">Nazionalità</div>
						</div>
					</div>
				</a>
			</div>
		</div>
	</section>
	<footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>