<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='Delete chef')"> </head>
<body>
	<header th:replace="fragments/admin_base.html :: intestazione"></header>
	<form class="complete-item-section" th:action="@{'/admin/delete/chef/' + ${chef.id}}" method="POST">
		<div class="complete-item-details">
			<div th:if="${not #lists.isEmpty(chef.buffets)}" style="font-size: 1.5rem; font-weight: bold; color: red;">
				Attenzione! Lo chef ha dei buffet associati. Assicurarsi di modificare lo chef nei buffet dopo la rimozione
			</div>
			<div style="font-size: 1.5rem; font-weight: bold;" th:text="@{'Confermi rimozione di chef: ' + ${chef.nome} + ' ' + ${chef.cognome} + '?'}">Conferma rimozione di chef</div>
			<div>
				<span class="complete-item-descriptor">Nazionalità:</span>
				<span th:text="${chef.nazionalita}">Italia</span>
			</div>
			<div th:if="${not #lists.isEmpty(chef.buffets)}">
				<div class="complete-item-descriptor">Buffet:</div>
				<div th:each="buffet : ${chef.buffets}" th:text="'- ' + ${buffet.nome}">Buffet</div>	
			</div>
			<div class="admin-form-row-buttons">
				<button class="button-edit" type="submit">Rimuovi</button>
				<a th:href="@{/admin/chefs}"><button class="button-remove" type="button">Annulla</button></a>
			</div>
		</div>
	</form>
	<footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>