<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='Edit Chef')"> </head>
<body>
	<header th:replace="fragments/admin_base.html :: intestazione"></header>
	<h1 style="margin-top: 50px; text-align: center;">Modifica chef</h1>
	<section style="height: 500px;" class="admin-form-section">
		<form th:action="@{'/admin/edit/chef/' + ${chef.id}}" method="POST" th:object="${chef}" enctype="multipart/form-data">
			<label style="height: 20%;" class="admin-form-row" for="nome">
				<div style="height: 60%" class="admin-form-row-top">
					<div class="admin-form-row-title">*Nome:</div>
					<input th:field="*{nome}" id="nome" type="text" required/>
				</div>
				<div style="height: 35%" class="admin-form-row-bottom" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" th:style="'color:red'"></div>
			</label>
			<label style="height: 20%;" class="admin-form-row" for="cognome">
				<div style="height: 60%" class="admin-form-row-top">
					<div class="admin-form-row-title">*Cognome:</div>
					<input th:field="*{cognome}" id="cognome" type="text" required/>
				</div>
				<div style="height: 35%" class="admin-form-row-bottom" th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}" th:style="'color:red'"></div>
			</label>
			<label style="height: 20%;" class="admin-form-row" for="nazionalita">
				<div style="height: 60%" class="admin-form-row-top">
					<div class="admin-form-row-title">*Nazionalità:</div>
					<input th:field="*{nazionalita}" id="nazionalita" type="text" required/>
				</div>
				<div style="height: 35%" class="admin-form-row-bottom" th:if="${#fields.hasErrors('nazionalita')}" th:errors="*{nazionalita}" th:style="'color:red'"></div>
			</label>
			<div style="height: 9.5%;" class="admin-form-row">
				<div style="height: 100%" class="admin-form-row-top">
					<div class="admin-form-row-title">Foto:</div>
					<input type="file" name="image" accept="image/png, image/jpeg"/>
				</div>
			</div>
			<div class="admin-form-row">
				<div class="admin-form-row-buttons">
					<button class="button-edit" type="submit">Conferma</button>
					<a th:href="@{/admin/chefs}"><button class="button-remove"type="button">Annulla</button></a>
				</div>
			</div>
		</form>
	</section>
	<footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>