<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='Welcome')"> </head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<section class="index-section">
		<a th:href="@{/buffets}">
			<div class="index-row-buffets">
				<div class="index-row-title">Buffet</div>
			</div>
		</a>
		<a th:href="@{/chefs}">
			<div class="index-row-chefs">
				<div class="index-row-title">Chef</div>
			</div>
		</a>
		<a th:href="@{/piatti}">
			<div class="index-row-piatti">
				<div class="index-row-title">Piatti</div>
			</div>
		</a>
	</section>
	<footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>